/*Autor: William Enrique Vásquez Mancía
Carnet: VM19003
Guia 61c*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: auto;
    text-align: center;
    background-color: #E2EDDD;
}
#obtener{
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
h1{
    color: darkblue;
}
img {width:3cm;height:3cm;}

#tabla {width:80%;
    margin:auto;
    background-color: #DAC0A6;
    border-radius: 4px;
}
#tabla tbody tr td{
    border-style:groove;
    background-color:#499FA4;
}
#fdescripcion{
    width: 80%;
    border-radius: 4px;
    margin: 10px;
}
#ftitulo, #fprecio,#fimagen,#fcategoria{
    width: 40%;
    border-radius: 4px;
    margin: 10px;
}
#formulario{
    width:80%;
    border-style: groove;
    margin: auto;
    border-radius: 4px;
}
th#price {cursor:pointer;}
li {color:blue;}
/*si chequea muestra los productos sin cheque desaparecen los productos*/
input#c1:checked ~ table tbody tr.c1 { display: table-row; }
input#c1:not(checked) ~ table tbody tr.c1 { display: none; }
input#c2:checked ~ table tbody tr.c2 { display: table-row; }
input#c2:not(checked) ~ table tbody tr.c2 { display: none; }
input#c3:checked ~ table tbody tr.c3 { display: table-row; }
input#c3:not(checked) ~ table tbody tr.c3 { display: none; }
input#c4:checked ~ table tbody tr.c4 { display: table-row; }
input#c4:not(checked) ~ table tbody tr.c4 { display: none; }